<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

    <!-- 啟用 ASP.NET Core 內嵌的日誌記錄 -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
        <add assembly="KinesisFirehose" />
    </extensions>

    <!-- 定義日誌目標 -->
    <targets>
        <!-- 控制台輸出 -->
        <target xsi:type="ColoredConsole" name="console"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

        <!-- 文件輸出 -->
        <target xsi:type="File" name="allfile" fileName="logs/nlog-all-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="File" name="ownFile-web" fileName="logs/nlog-own-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

        <!-- 錯誤日誌 -->
        <target xsi:type="File" name="errorFile" fileName="logs/nlog-error-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="Firehose" name="firehose"
                DeliveryStreamName="my-test-stream"
                Region="ap-northeast-1">
            <layout type="JsonLayout">
                <!-- timestamp -->
                <attribute name="timestamp" layout="${longdate}" />
                <!-- 日志级别 -->
                <attribute name="level" layout="${level}" />
                <!-- 日志器名称 -->
                <attribute name="logger" layout="${logger}" />
                <!-- 日志信息 -->
                <attribute name="message" layout="${message}" />
                <!-- 异常（如有） -->
                <attribute name="exception" layout="${exception:format=ToString}" />
            </layout>
        </target>
    </targets>

    <!-- 定義日誌規則 -->
    <rules>
        <!-- 跳過 Microsoft 的日誌，只記錄 Warning 以上級別 -->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />

        <!-- 所有日誌，除了 Microsoft 的日誌 -->
        <logger name="*" minlevel="Trace" writeTo="allfile" />

        <!-- 錯誤日誌 -->
        <logger name="*" minlevel="Error" writeTo="errorFile" />
        <logger name="*" minlevel="Error" writeTo="firehose" />

        <!-- 控制台輸出 -->
        <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
</nlog>